.dashboard {
  display: flex;
}

.dashboard .dashboard_right {
  flex: 1;
}

.dashboard .dashboard_content {
  max-width: 900px;
  height: 80vh;
  margin: 20px auto;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
}

@media all and (max-width: 800px) {
  .dashboard .dashboard_content {
    margin: 20px;
  }
}
