.landing_hero {
  height: 764px;
  background-image: url(../assets/hero.png);
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.55);
  /* backdrop-filter: brightness(1); */

  /* filter: brightness(0.55); */

  display: flex;
  justify-content: center;
  align-items: center;
}

.landing_hero_info h1 {
  color: #111111;
  font-size: 40px;
  font-weight: bold;
}

.landing_hero_info p {
  margin: 30px 0;
  font-size: 24px;
  font-weight: 500;
}

.landing a {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--primaryBg);
  color: #fff;
}

.first_section {
  display: flex;
  justify-content: space-between;

  margin-top: 60px;
  padding: 0 40px;
}

.first_section_info h2 {
  font-size: 40px;
  font-weight: 700;
  color: #111111;
}

.first_section_info p {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #111111;
}

.first_section_img img {
  width: 400px;
  height: 300px;
}

.second_section {
  margin: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second_section h3 {
  color: #111111;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.second_section p {
  margin: 20px auto;
  font-size: 18px;
  font-weight: 400;
}

.second_section_card {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}

.third_section {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */

  padding: 60px 40px;
  margin-top: 60px;
  background: rgba(255, 237, 204, 0.5);
}

.third_section_img img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.third_section .text_one {
  color: #111111;
  font-size: 18px;
  font-weight: 400;
}

.third_section .text_two {
  color: #111111;
  font-size: 20px;
  font-weight: 500;
  margin: 50px 0 30px 0;
}

.fourth_section {
  display: flex;
  justify-content: space-evenly;
  padding: 60px 0;
}

.fourth_section_img {
  display: flex;
  gap: 20px;
  /* justify-content: space-between; */
  align-items: center;
}

.fourth_section_img img {
  border-radius: 50%;
}

.fourth_section_img .one {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.fourth_section_info h2 {
  line-height: 72px;
  font-size: 48px;
  font-weight: 700;
  color: #111111;
}

.fourth_section_info p {
  margin: 30px 0;
  font-size: 18px;
  font-weight: 400;
  color: #111111;
}

@media all and (max-width: 800px) {
  .landing_hero {
    height: 400px;
    padding: 10px;
  }

  .landing_hero_info h1 {
    font-size: 30px;
  }

  .landing_hero_info p {
    font-size: 16px;
  }

  .first_section {
    display: flex;
    gap: 20px;
    /* flex-direction: column; */

    /* justify-content: center; */
    align-items: center;
  }

  .first_section_info h2 {
    font-size: 30px;
  }

  .first_section_info p {
    font-size: 16px;
  }

  .first_section_img img {
    margin-top: 30px;
    width: 300px;
    height: 200px;
  }

  .second_section_card {
    display: flex;
    gap: 20px;
    /* flex-direction: column; */
  }

  .third_section {
    display: flex;
    flex-direction: column;
  }

  .third_section_info {
    margin-top: 20px;
  }

  .fourth_section {
    display: flex;
    /* flex-direction: column; */
    gap: 40px;
    align-items: center;
    padding: 20px;
  }

  .fourth_section_info h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .fourth_section_info p {
    font-size: 16px;
  }
}

@media all and (max-width: 600px) {
  .first_section {
    display: flex;
    flex-direction: column;
  }

  .second_section_card {
    display: flex;
    flex-direction: column;
  }

  .fourth_section {
    display: flex;
    flex-direction: column;
  }
}
