.main_content .head {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid #d0d0d0;
  padding: 5px;
}

.main_content .head .head_menu {
  display: none;
}

.main_content .head .head_search {
  display: flex;
  gap: 30px;
  align-items: center;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  width: 459px;
  height: 40px;
  margin-left: 200px;
  padding: 5px 10px;
}

.main_content .head .head_search input {
  border: none;
  outline: none;
  color: #626262;
}

.main_content .head .head_search input::placeholder {
  color: #626262;
}

.main_content .head .head_profile {
  display: flex;
  gap: 10px;
  align-items: center;
}

.main_content .head .head_profile div {
  font-size: 20px;
}

.main_content .head .head_profile img {
  border-radius: 50%;
}

@media all and (max-width: 800px) {
  .main_content .head .head_menu {
    display: flex;
    font-size: 30px;
    color: #543ee0;
  }

  .main_content .head .head_search {
    margin-left: 0;
    height: 40px;
    padding: 5px 10px;
  }
}

@media all and (max-width: 600px) {
  .main_content .head .head_search {
    width: 300px;
  }
}
